body {
	font-family: sans-serif;
	margin: 0;
}

img {
	max-width:100%;
	max-height:100%;
}

.grid1 {
	display: grid;
	grid-gap:20px;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 5fr 4fr 1fr;
	grid-template-areas:
		"header header"
		"logo sidebar"
		"main sidebar"
		"footer footer";
}

.header {
	grid-area: header;
  	background: linear-gradient(to right, #cef1ff , #abe5fc);
  	font-size:28px;
  	border-bottom: 3px #ff8d3d solid;
  	position: fixed;
  	width: 100%;
  	box-shadow: 0 5px 5px #aaa;
  	display:grid;
  	grid-template-columns: 1fr 5fr 1fr 1fr;
  	grid-template-areas:
  		"logo null about contact";

 }

 .header .cssgrid{
 	margin-left: 15%;
 	grid-area:logo;
 }

 .header .cssgrid p{
 	float:left;
 }

 .header .cssgrid #hCss {
 	color:#ff5c30;
 }

 .header .cssgrid #hGrid {
 	color:#ff9b30;
 }

.header a{
 	text-decoration: none;
 	color:#ff9b30;
 	transition-duration: 0.2s;
 }

.header a:hover{
 	color:#ff7700;
 }

.header .about {
 	grid-area:about;
 	text-align: center;

 }

.header .contact {
 	grid-area:contact;
 	text-align: center;
 }

.image {
	grid-area: logo;
	text-align: center;

}

.sidebar {
	grid-area: sidebar;
	border: black 2px solid;
	border-radius: 10px;
	background: #fff7e0;
	transition-duration: 0.4s;
	margin-right: 1em;
}

.sidebar:hover {
	background: #ffefc1;
}

.sidebar p{
	padding:15px;
}

.main {
	grid-area: main;
	border: black 2px solid;
	border-radius: 10px;
	background: #fff7e0;
	transition-duration: 0.4s;
	margin-left: 1em;
}

.main:hover {
	background: #ffefc1;
}

.main p{
	padding: 15px;
}

.footer {
	grid-area: footer;
	text-align: center;
  	background: linear-gradient(to right, #cef1ff , #abe5fc);
}

.footer p{
	font-size: 28px;
}